<h1 class="text-center text-5xl text-red-400 py-16">HOME</h1>

<h1 class="text-center text-gray-800 text-2xl font-semibold">Welcome to the movie city</h1>

<div class="text-center w-full my-16">
  
  <a href="/movies" class="font-semibold bg-red-500 text-xl text-white hover:bg-red-800 px-8 py-4 text-center rounded-md 
  mx-auto">See Movies</a>

</div>